html,
body {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    background: $white;
    color: $black-80;
    height: 100%;
    line-height: $lh-default;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    margin: 0px;
    line-height: $lh-default;
}

p {
    margin: 0px;
    line-height: $lh-copy;
}

a {
    color: $brand;
    text-decoration: none;
    &:hover {
        transition: all 0.5s ease;
        color: h($brand);
    }
}

button {
    border: 0px;
    background: transparent;
    padding: 0px;
    outline: none !important;
    cursor: pointer;
}

input,
select,
textarea {
    outline: none !important;
}

textarea {
    resize: none;
}

#app {
    display: flex;
    min-height: 100%;
    @media (max-width: 48rem) {
        flex-direction: column;
    }
}

aside {
    background: $white;
    box-shadow: $box-shadow;
    width: 240px + $spacing * 48;
    flex-grow: 0;
    flex-shrink: 0;
    @media (max-width: 75rem) {
        width: 240px + $spacing * 38;
    }
    @media (max-width: 60rem) {
        width: 240px + $spacing * 16;
    }
}

main {
    background: $lightGrey;
    padding: $spacing * 18 $spacing * 18;
    flex-grow: 1;
    @media (max-width: 75rem) {
        padding: $spacing * 14;
    }
    @media (max-width: 60rem) {
        padding: $spacing * 10;
    }
    @media (max-width: 48rem) {
        background: $white;
    }
}

#posts-index {
    .article+.article {
        margin-top: $spacing * 18;
        @media (max-width: 75rem) {
            margin-top: $spacing * 14;
        }
        @media (max-width: 60rem) {
            margin-top: $spacing * 10;
        }
        @media (max-width: 48rem) {
            margin-top: 0;
        }
    }
}